In [1]:
import pandas as pd
import numpy as np

In [8]:
wineprice = pd.read_csv('winePrice_2.csv')

In [10]:
wineprice.head()

,Unnamed: 0,price_id,page_ark,ark,name,vintage,type,color,country,section,bottle_type,perprice,caseprice,bbox,left,top,right,bottom
0,0,1,d7001g-000,d7001g,CHATEAU DE CHAMBOLLE MUSIGNY,1943.0,wine,NaN,France,NaN,NaN,2.49,27.95,0103000020967F000001000000050000000000000000A0...,330.0,4075.0,3768.0,4117.0
1,1,2,d7001g-000,d7001g,ROMANEE ST VIVANT LES QUATRE JOURNAUX,1942.0,wine,NaN,NaN,NaN,NaN,2.99,34.75,0103000020967F000001000000050000000000000000C0...,332.0,4500.0,3768.0,4549.0
2,2,3,d7001g-000,d7001g,TACHE,1942.0,wine,NaN,NaN,NaN,NaN,4.79,56.50,0103000020967F000001000000050000000000000000E0...,334.0,4888.0,3755.0,4937.0
3,3,4,d7001g-000,d7001g,ALOXE CORTON LES CHAILLOTS,1942.0,wine,NaN,France,NaN,NaN,1.99,22.65,0103000020967F00000100000005000000000000000090...,329.0,3716.0,3768.0,3760.0
4,4,5,d7001g-001,d7001g,RUDESHEIMER HAEUSERWEG SPATLESE,1952.0,wine,NaN,NaN,NaN,NaN,1.79,2.45,0103000020967F000001000000050000000000000000F8...,271.5,3134.0,3423.0,3178.0

In [11]:
wineprice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214018 entries, 0 to 214017
Data columns (total 18 columns):
Unnamed: 0     214018 non-null int64
price_id       214018 non-null int64
page_ark       214018 non-null object
ark            214018 non-null object
name           185885 non-null object
vintage        63871 non-null float64
type           214018 non-null object
color          30925 non-null object
country        105337 non-null object
section        0 non-null float64
bottle_type    0 non-null float64
perprice       214018 non-null float64
caseprice      151587 non-null float64
bbox           214018 non-null object
left           214018 non-null float64
top            214018 non-null float64
right          214018 non-null float64
bottom         214018 non-null float64
dtypes: float64(9), int64(2), object(7)
memory usage: 29.4+ MB

In [12]:
wineprice.shape

(214018, 18)

In [14]:
region = pd.read_csv('mark_bbox.csv')

In [15]:
region.head()

,Unnamed: 0,mark_id,page_ark,implicator_bbox,region_bbox
0,0,4673b88a-5c77-4a49-97ea-5016591ed28f,d7nd38-008,0103000020967F00000100000005000000000000000010...,0103000020967F00000100000005000000000000000000...
1,1,e5e144bd-8376-40ca-8cc1-cbce98f09afb,d7160g-014,0103000020967F00000100000005000000000000000050...,0103000020967F00000100000005000000000000000070...
2,2,c278fa82-83d3-42ae-bbd2-946cb0e4633f,d7265p-018,0103000020967F00000100000005000000000000000038...,0103000020967F000001000000050000000000000000D8...
3,3,b53d3882-1b02-4435-9f0e-3548be90d430,d7v30w-039,0103000020967F00000100000005000000000000000040...,0103000020967F00000100000005000000000000000000...
4,4,12f951f6-cf4d-49d1-a07c-6362e62da9fe,d7fw2v-034,0103000020967F00000100000005000000000000000080...,0103000020967F00000100000005000000000000000080...

In [16]:
region.region_bbox[0]

'0103000020967F0000010000000500000000000000000066400000000000689AC000000000000066400000000000607FC00000000000F0A6400000000000607FC00000000000F0A6400000000000689AC000000000000066400000000000689AC0'

In [18]:
https://data.world/markpowell/global-wine-points

wine_vintage = pd.read_csv('historical_wine_vintage.xlsx')

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 0-1: invalid continuation byte